body {
    min-height: 100vh;
}

.page-container {
    position: relative;
}

.play-area {
    padding-top: 12vh;
    padding-bottom: 4vh;
}

.square {
    height: 5rem;
}

i {
    font-size: 50px;
}

.hide{
    display: none;
}